@using PersonalFinanceManager;
@page "/accounts"

<PageTitle>Accounts</PageTitle>

<h1>Accounts</h1>

@* <p role="status">Current number of transactions: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me to add a transaction to the transaction count! (Or
    come back later for more functionality)</button> *@

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
<h4>Add a bank</h4>
<label>
    <input @bind=bankNameInput />
</label>
<input @bind=routingNumInput />
<button class="btn btn-primary" @onclick=addBank>Click to add bank</button>

@code
{
    string bankNameInput = "[bank name here]";
    public int routingNumInput;
    int RoutingNumber;
    string BankName = "";

    string acctNameInput = "";
    long acctNumInput = 0;
    
    public void addBank()
    {
        try
        {
            Bank newBank = new Bank(bankNameInput, routingNumInput);
            RoutingNumber = routingNumInput;
            BankName = bankNameInput;
            ValueNotAllowedException.errorMessage = null;
        }
        catch (ValueNotAllowedException)
        {

        }
        bankNameInput = "";
        routingNumInput = 0;
    }

    public void addAccount()
    {
        if (BankName != "")
        {
            Bank bank = Bank.bankDictionary[BankName];
            try
            {
                
            }
            catch
            { }
        }
    }
}

@if (ValueNotAllowedException.errorMessage != null)
{
    <p>ERROR: @ValueNotAllowedException.errorMessage</p>
}

<br>
<br>
<h2>My Bank: @BankName</h2>
<h4>Routing number: @RoutingNumber</h4>
