@using PersonalFinanceManager;
@page "/accounts"

<head>
    <style>
        .grid-container {
            display: grid;
            column-gap: 15px;
            grid-template-columns: auto auto;
            background-color: #22662d;
            padding: 15px;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            font-size: 14px;
            text-align: left;
        }
    </style>

</head>

<body>
    <PageTitle>Account Manager - Finance Manager</PageTitle>

    <h1>Account Manager</h1>
    <br>

    <div class="grid-container">
        <div class="grid-item">

            @if (ValueNotAllowedException.errorMessage != "" && ValueNotAllowedException.errorMessage != null)
            {
                <p style="color:red;"><b>ERROR: </b> @ValueNotAllowedException.errorMessage</p>
            }
            <button hidden=@errorIsResolved @onclick=ResetErrorMessage>OK</button><br><br>

            <h4>Add an account</h4>
            <label> Holder name:<br>
                <input @bind=acctNameInput />
            </label>
            <br><br>

            <label> Account number: <br>
                <input @bind=acctNumInput />
            </label>
            <br><br>

            <button class="btn btn-primary" @onclick=addAccount>Add Account</button><br><br>

            <hr>
            <h4>Add a bank</h4>
            <h6>*Coming soon*</h6>

            <label> Bank Name:<br>
                <input @bind=bankNameInput />
            </label>
            <br><br>

            <label> Routing Number: <br>
                <input @bind=routingNumInput />
            </label>
            <br><br>

            <button class="btn btn-primary" disabled=@bankExists @onclick=AddBank>Add Bank</button><br><br>
           <hr>


        </div>

        <div class="grid-item">
            @if (currentBank != null)
            {
                <h2>Current Bank: <b>@currentBank.Name</b></h2>
                <h4>Routing number: @currentBank.RoutingNumber</h4>
            }

            <hr>

            @*
                <button disabled=@beginningOfBankNameList @onclick=previousBank>Previous</button>
                <button disabled=@endOfBankNameList @onclick=nextBank>Next</button><br><br> *@
            @if (currentBank != null)
            {
                <h3>Accounts in this bank:</h3>
                @foreach (string acctEntry in Bank.GetAccountListFor(currentBank))
                {
                    <p>@acctEntry</p>
                }
            }
        </div>
    </div>
</body>



@* -------------------------------------------CODE------------------------------------------------ *@


@code
{
    Bank currentBank;

    // ---- Adding a bank ---
    string bankNameInput = "";
    public int routingNumInput;
    string acctNameInput = "";
    long acctNumInput = 0;
    bool bankExists = false;

    void AddBank()
    {
        ValueNotAllowedException.errorMessage = null;
        try
        {
            Bank newBank = new Bank(bankNameInput, routingNumInput);
            Bank.BankDictionary.Add(bankNameInput, newBank);
            currentBank = newBank;
            bankExists = true;
            @* storageService.StoreData(Bank.bankDictionary); *@
        }
        catch (ValueNotAllowedException)
        {
            errorIsResolved = false;
        }

        BankNames.Add(currentBank.Name);
        //if (BankNames.Count > 1)
        //{
        beginningOfBankNameList = false;
        //}
        bankNameInput = "";
        routingNumInput = 0;
    }

    // --- Adding an account ---

    void addAccount()
    {
        try
        {
            Bank bank = Bank.BankDictionary[currentBank.Name];
            try
            {
                ValueNotAllowedException.errorMessage = null;
                bank.AddAccount(new Account(acctNameInput, acctNumInput));
                storageService.StoreData(Bank.BankDictionary);
            }
            catch
            {
                errorIsResolved = false;
            }
            acctNameInput = "";
            acctNumInput = 0;
        }
        catch
        {
            errorIsResolved = false;
            ValueNotAllowedException.errorMessage = "No bank selected. Please select or add a bank and try again.";
        }
    }
    // Adding a SubAccount
    int subAcctTypeInput = 0;

    // Adding a transaction
    string memoInput;
    decimal amountInput;
    DateTime dateTimeInput;

    void AddTransaction(Account thisAccount)
    {
        Tuple<string, decimal, DateTime> transaction = new Tuple<string, decimal, DateTime>(memoInput, amountInput,
        dateTimeInput = DateTime.Today);
    }


    bool errorIsResolved = true;
    void ResetErrorMessage()
    {
        ValueNotAllowedException.errorMessage = "";
        errorIsResolved = true;
    }

    FileSystemStorageService storageService = new FileSystemStorageService();
    // Previous/next buttons
    protected override void OnInitialized()
    {
        ValueNotAllowedException.errorMessage = null;

        storageService.LoadData();

        foreach (var kvPair in Bank.BankDictionary)
        {
            BankNames.Add(kvPair.Key);
        }

        if (BankNames != null)
        {
            currentBank = Bank.BankDictionary[BankNames[0]];
            bankExists = true;
        }
        @* try
            {
            @* try
            {
            // Bank.LoadData();
            foreach (var kvPair in Bank.bankDictionary)
            {
            BankNames.Add(kvPair.Key);
            }
            if (BankNames.Count >= 1)
            {
            currentBank = Bank.bankDictionary[BankNames[0]];
            beginningOfBankNameList = true;
            if (BankNames.Count == 1)
            {
            endOfBankNameList = true;
            }
            else
            {
            endOfBankNameList = false;
            }
            }
            else
            {
            beginningOfBankNameList = true;
            endOfBankNameList = true;
            }
            }
            catch
            {}
            catch
            {
            } *@

    }

    

    // Bank List Stuff

    List<string> BankNames = new List<string>();
    bool beginningOfBankNameList;
    bool endOfBankNameList;
    int bankNumber = 0;

}
