@using PersonalFinanceManager;
@page "/accounts"

<PageTitle>Account Manager</PageTitle>

<h1>Account Manager</h1>
_________________________________________________________________<br><br>

@* <p role="status">Current number of transactions: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me to add a transaction to the transaction count! (Or
    come back later for more functionality)</button> *@

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
<h4>Add a bank</h4>
<label>
    <input @bind=bankNameInput />
</label>
<input @bind=routingNumInput />
<button class="btn btn-primary" @onclick=AddBank>Click to add bank</button><br>
_________________________________________________________________<br><br>

 <h4>Add an account</h4>
<label>
    <input @bind=acctNameInput />
</label>
<input @bind=acctNumInput />
<button class="btn btn-primary" @onclick=addAccount>Click to add account to bank</button><br> 
@* Add code to let the user select the bank to add to *@

@code
{  
    // ---- Adding a bank ---
    string bankNameInput = "[bank name here]";
    public int routingNumInput;
    int RoutingNumber;
    string BankName = "";

    string acctNameInput = "";
    long acctNumInput = 0;
    
    public void AddBank()
    {
        try
        {
            Bank newBank = new Bank(bankNameInput, routingNumInput);
            RoutingNumber = routingNumInput;
            BankName = bankNameInput;
            ValueNotAllowedException.errorMessage = null;
        }
        catch (ValueNotAllowedException)
        {
         
        }
        bankNameInput = "";
        routingNumInput = 0;
    }

    // --- Adding an account ---
    
    public void addAccount()
    {
        if (BankName != "")
        {
            Bank bank = Bank.bankDictionary[BankName];
            try
            {
                
            }
            catch
            { }
        }
    }
    // Adding a transaction
    string memoInput;
    decimal amountInput;
    DateTime dateTimeInput;

    public void AddTransaction(Account thisAccount)
    {
        Tuple<string, decimal, DateTime> transaction = new Tuple<string, decimal, DateTime>(memoInput, amountInput, dateTimeInput);
    }


}

@if (ValueNotAllowedException.errorMessage != null)
{
    <p>ERROR: @ValueNotAllowedException.errorMessage</p>
}

<br>
<br>
<h2>My Bank: @BankName</h2>
<h4>Routing number: @RoutingNumber</h4>
