@page "/counter"

<PageTitle>Transactions</PageTitle>

<h1>Transactions</h1>

<p role="status">Current number of transactions: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me to add a transaction to the transaction count! (Or come back later for more functionality)</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
