@page "/"

<PageTitle>Home</PageTitle>

@using PersonalFinanceManager;
<h1>Home</h1>

<b>Welcome to your finance manager!</b>
<br>


@if (ValueNotAllowedException.errorMessage != "" && ValueNotAllowedException.errorMessage != null)
{
    <p>ERROR: @ValueNotAllowedException.errorMessage</p>
}

<br>
<br>

@* <br>
    Stuff to add on this page:<br><br>

    - History of recent transactions <br>
    - Button to add a transaction <br>
    @* <button class="btn btn-primary" @onclick=WithdrawalTransaction>Withdraw Funds</button><br><br>

    <br><br>
*@
