@page "/"

<PageTitle>Home</PageTitle>

@using PersonalFinanceManager;
<h1>Home</h1>

<b>Welcome to your finance manager!</b>
<br>


@if (ValueNotAllowedException.errorMessage != "" && ValueNotAllowedException.errorMessage != null)
{
    <p>ERROR: @ValueNotAllowedException.errorMessage</p>
}

<br>
<br>
@code
{
    public static void TestFileWriting()
    {
        Account testAccount = new Account("Curious George", 54321987);
        SubAccount testSubAccount = new SubAccount(SubAccount.SubAccountTypes.Savings, testAccount);
        testAccount.AddSubAccount(testSubAccount);
        Account.SaveSubAccountsFor(testAccount);
    }
}
<br>
Stuff to add on this page:<br><br>

- History of recent transactions <br>
- Button to add a transaction


@* <button class="btn btn-primary" @onclick="TestFileWriting">Click me to write to a file!</button> *@
