@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

Welcome to your finance manager. </br>
Click the "Transactions" button to go to the page where you will eventually be able to add a transaction. </br>
Click the "Transaction History" button to go to the page where you will eventually be able to view your past transactions.

@code
{
    public static void Main()
    {
        
        
    }

}
