@using PersonalFinanceManager
@page "/history"

<PageTitle>Transaction History - Finance Manager</PageTitle>

@using FinanceManager.Data
@inject WeatherForecastService ForecastService

<h1>Transaction History</h1>

@if (currentAccount.Transactions == null)
{
    <p><em>No transactions to display.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Memo</th>
                <th>Transaction Type</th>
                <th>Amount Spent</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in currentAccount.Transactions)
            {
                <tr>
                    <td>@transaction.Item1</td>
                    <td>@transaction.Item3</td>
                    <td>@transaction.Item2.ToString("c")</td>
                    <td>@transaction.Item4</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {

    Account currentAccount;
    Bank currentBank;
    List<string> bankNames = new List<string>();
    List<long> acctNumbers = new List<long>();
    FileSystemStorageService storageService = new FileSystemStorageService();
    protected override void OnInitialized()
    {

        storageService.LoadData();

        foreach (var kvPair in Bank.BankDictionary)
        {
            bankNames.Add(kvPair.Key);
        }

        // note to self: change the following line if re-adding capability of multiple banks
        currentBank = Bank.BankDictionary[bankNames[0]];

        foreach (var kvPair in currentBank.AccountDictionary)
        {
            acctNumbers.Add((long)kvPair.Key);
        }
        if (acctNumbers.Count != 0)
        {
            currentAccount = currentBank.AccountDictionary[acctNumbers[0]];
        }
    }

}
